table.SimpleCalendar {
  width: 100%;
  font-family: Arial;
  border-collapse: collapse; 
  text-align: center;
}
  
  table.SimpleCalendar th.sunday {
    color: #EF733F;
    font-size: 12px;
    padding: 20px 0px 13px 0px;
    border-top: none
    text-align: center;
  }

  table.SimpleCalendar th {
    color: #000;
    font-size: 12px;
    padding: 20px 0px 13px 0px;
    border-top: none; 
    text-align: center;
  }
  
  table.SimpleCalendar tbody td {
    vertical-align: top;
    width: 55px;
    height: 35px;
    padding-top: 15px;
    cursor: pointer;
  }

table.SimpleCalendar tbody td:hover {
  background-color: rgba(239, 115, 63, 0.31);
  transition:0.5s;
  border-radius: 10px;
}

table.SimpleCalendar tbody td time {
      font-size: .7em;
      width: 100%;
      height: 100%;
      color: rgb(135, 135, 135);
}

table.SimpleCalendar tbody td.SCsuffix, table.SimpleCalendar tbody td.SCprefix {
}

table.SimpleCalendar tbody td div.event {
  color: #355;
  font-size: .65em;
  padding: 5px;
  line-height: 1em;
  border-bottom: 1px solid #bbb;
  background: #858585;
  color: white; 
}

table.SimpleCalendar tbody td.today {
  background: #C5FF74;
}

table.SimpleCalendar tbody td.reserve_date::before {
  content: url(img/flag.png);
  padding-left: -5px;
}